<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<div *ngIf="showSplash" class="splash">
  <div class="spinner"></div>
</div>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/home" class="ios" tab="home">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Agenda Tareas</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/create" class="ios" tab="create">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Libro de Tareas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>